<IfModule mod_rewrite.c>
RewriteEngine On
AllowOverride All
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule dbs/foo/tables/source dbs/foo/tables/source.php [QSA,NC,L]
</IfModule>